{{!-- Bootstrap Simão THE BEST --}}
<nav id="navbar" class="navbar navbar-expand-lg">
  {{!-- <a class="navbar-brand" href="/">Miidori</a> --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100 d-flex justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav w-75 d-flex justify-content-around">
        <li class="nav-item active p-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active p-2">
          <a class="nav-link" href="/producers">Local Producers</a>
        </li>
        <li class="nav-item active p-2">
          <a class="nav-link" href="/top-products">Top Products</a>
        </li>
        <li class="nav-item active p-2">
          <a href="/about-us" class="nav-link">About Us</a>
        </li>
        
        {{#if user}}
          <li class="nav-item active p-2">
            <a class="nav-link" href="/profile/{{user._id}}">{{user.name}}'s Profile</a>
          </li>

          <li class="nav-item active p-2">
            <form action="/authentication/sign-out" method="POST">
              <a class="nav-link" href="/authentication/sign-out">Sign Out</a>
            </form>
          {{else}}

          <li class="nav-item active d-flex flex-row justify-content-center p-2">
            <a class="nav-link" href="/authentication/sign-in">Log In</a>
            <p class="nav-link">|</p>
            <a class="nav-link" href="/authentication/sign-up" role="button">Sign Up</a>
          </li>
        {{/if}}

    </ul>
  </div>
</nav>