<div id="home">
  <h1>MIIDORI</h1>
  <h2>/m&#618;'d&#596;ri/</h2>
</div>

<div class="bg-cream"id="hands">
  <h2>FROM OUR HANDS TO YOURS</h2>
  <h3>Empowering responsible consumption</h3>
  <p>Helping producers in the Lisbon region go direct to consumers.</p>
  <a class="rounded-circle bg-green" href="#">Shop Now</a>
</div>
