
<div id="top-products-bg">

{{!-- <div id="top-products-content w-75 mx-auto">

<div> 
<h1 class="d-inline">Top Products</h1> 

<button id="filterbtn"> Filter </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
     
<div>
<img src="./images/apples.png" alt="..." class="rounded-circle">
<p>Apple</p>
</div>

    </div>
    <div class="col-sm">
     
<div>
<img src="./images/grapefruit.png" alt="..." class="rounded-circle">
<p>Grapefruit</p>
</div>


    </div>


    <div class="col-sm">
      
<div>
<img src="./images/hazelnut.png" alt="..." class="rounded-circle">
<p>Hazelnuts</p>
</div>



    </div>


<div class="col-sm">
      
<div>
<img src="./images/sunflower-seeds.png" alt="..." class="rounded-circle">
<p>Sunflower Seeds</p>
</div>



    </div>



    <div class="col-sm">
      
<div>
<img src="./images/quinces.png" alt="" class="rounded-circle">
<p>Quinces</p>
</div>



    </div>

</div>



<div class="row">
    <div class="col-sm">
     
<div>
<img src="./images/rice.png" alt="..." class="rounded-circle">
<p>Rice</p>
</div>

    </div>
    <div class="col-sm">
     
<div>
<img src="./images/mushroom.png" alt="..." class="rounded-circle">
<p>Mushrooms</p>
</div>


    </div>


    <div class="col-sm">
      
<div>
<img src="./images/pineapple.png" alt="..." class="rounded-circle">
<p>Pineaple</p>
</div>



    </div>


<div class="col-sm">
      
<div>
<img src="./images/pear.png" alt="..." class="rounded-circle">
<p>Pear</p>
</div>



    </div>



    <div class="col-sm">
      
<div>
<img src="./images/chestnut.png" alt="..." class="rounded-circle">
<p>Chestnut</p>
</div>



    </div>







  </div>

</div>
</div> --}}

</div>